body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Georgia;
  font-size: 16px;
  margin: 0;
  padding: 0;
  /* limit width */
  line-height: 1.5;
  padding-bottom: 32px;
}

video {
  /* margin: 0 auto;
  max-width: 800px; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  padding: 30px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
}
/* BEGIN (write your solution here) */
p {
  margin-bottom: 12px;
}

h3 {
  font-weight: 400;
  margin-bottom: 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
  border-bottom: 1px solid grey;
  margin-bottom: 8px;
}

h3 {
  font-size: 20px;
}

#header {
  margin-bottom: 32px;
  text-align: center;

}

#footer {
  margin-top: 64px;
  text-align: center;
}

/* END */
